# Dependencies
node_modules/

# Expo
.expo/
expo-env.d.ts
web-build/
dist/
.expo-shared/
*.expo

# Metro / React Native
.metro-health-check*
*.map
*.hbc

# Native
.kotlin/

# Native builds
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/
android/app/release/
android/app/debug/
android/app/.cxx/
android/app/.externalNativeBuild/

# CocoaPods
Pods/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
xcuserdata/
DerivedData/

# Android Studio / IntelliJ
*.iml
.idea/
*.ipr
*.iws

# Keystore / Signing
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.cer
*.pfx
*.pem

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Cache / Temp
.cache/
.temp/
.tmp/
tmp/
*.log

# Coverage
coverage/

# Tooling
.eslintcache
.stylelintcache
.parcel-cache/
.turbo/
.nx/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Generated native folders (if using Expo prebuild)
ios/
android/

# Misc
app-example/
